.perfil {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    width: 50%;
    height: 50%;
    min-height: 70vh; /* Ajusta para garantir que ocupe espaço suficiente na tela */
    text-align: center;
    background-color: var(--secondary); /* Cor de fundo suave */
    padding: 2rem;
    border-radius: 8px;
}

.perfil h2 {
    margin-bottom: 1rem;
    background-color: white;
    font-size: 2rem;
    border-radius: 5px;

}

.perfil ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.perfil ul li {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    background-color: white;
    border-radius: 5px;
}